<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroBrowsing GUI</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ themefile }}">
</head>
<body>
    <h1>
        RetroBrowsing 2.0 "Новогодняя Елка"
    </h1>
    <p>Язык: {{ language }}</p>


    <p>Номер Версии: {{ build }}</p>


    <p>Тема: {{ theme }}</p>

    
    <p>Web-движок: {{ engine }}</p>


    <p>О RetroEngine: {{ retroengine }}</p>


    <a href="https://github.com/z3ven/RetroBrowsing"><p>GitHub</p</a>
</body>
</html>