<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroBrowsing GUI</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/default.css">
</head>
<body>
    <h1>RetroBrowsing 2.0</h1>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
    <p>You want to read</p>
    <a href="/update/en_us"><p>About new update!</p></a>
    
    <p>More:</p>
    <footer>
        <a href="/about/en_us"><p>About</p></a>
        <a href="http://github.com/z3ven/RetroBrowsing/"><p>GitHub</p></a>
        <a href="http://github.com/z3ven/RetroBrowsing/blob/main/README.md#usage"><p>Guides</p></a>
    </footer>

</body>
</html>
