<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Update</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        form {
            text-align: center;
        }
        input {
            text-align: center;
        }
        a {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Meet the RetroBrowsing 2.0 "CristmasTree"</h1>
    <h1>New version, new functions</h1>
    <h2>Design Update</h2>
    <p>Design now is easy and beatiful. </p>
    <h2>Themes!</h2>
    <p>Now you can use your custom themes! How to find and how to write themes you can see in our <a href="http://github.com/z3ven/RetroBrowsing/"><p>GitHub</p></a></p>
    <h2>Remastered RetroEngine 2.0</h2>
    <p>Now with remastered RetroEngine browser works faster and better! </p>
    <a href="http://github.com/z3ven/RetroBrowsing/blob/main/README.md#a-new-update"><p>Learn more about new update</p></a>
</body>
</html>