<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Update</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        form {
            text-align: center;
        }
        input {
            text-align: center;
        }
        a {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Встречайте RetroBrowsing 2.0</h1>
    <h1>Новая версия, новые функции</h1>
    <h2>Обновление дизайна</h2>
    <p>Дизайн теперь прост и понятен</p>
    <h2>Темы!</h2>
    <p>Теперь вы можете менять темы. Как создавать и ставить собственные темы на нашем <a href="http://github.com/z3ven/RetroBrowsing/"><p>GitHub</p></a></p>
    <h2>Измененное RetroEngine 2-го поколения</h2>
    <p>Теперь RetroEngine 2.0 работает быстрее и лучше</p>
    <a href="http://github.com/z3ven/RetroBrowsing/blob/main/README.md#a-new-update"><p>Узнать больше о новом обновлении</p></a>
</body>
</html>